@font-face {
    font-family: 'More-Sugar';
    src: url('../fonts/more-sugar.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lazy Dog';
    src: url('../fonts/lazy_dog.ttf') format('truetype');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    font-family: 'Fredoka One', sans-serif;
    background: linear-gradient(135deg, #b0ecf6, #f1d0a8);
    background-size: cover;
    color: #4f2f2f;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

br {
    content: " ";
    display: block;
    margin-bottom: initial;
}

.cookie-border-left,
.cookie-border-right {
    position: fixed;
    top: 0;
    width: 130px;
    height: 100%;
    background: url('../images/cookie-stack.png') repeat-y center/contain;
    z-index: 1;
    opacity: 0.8;
}

.cookie-border-left {
    left: 0;
}

.cookie-border-right {
    right: 0;
}

.logo {
    transition: transform 300ms ease;
    display: inline-block;
    max-width: 500px;
    margin-bottom: 10px;
}

.logo:hover {

    transform: scale(1.2);
}

.content-container {
    width: calc(100% - 300px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
.submit-button 
{
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    background-image: none;
    box-shadow: #69552b;
    border-color: #69552b;
    background-color: antiquewhite;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px,;
    border-radius:54px;
    border-radius: #8e7237;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 300ms ease;
}
.submit-button:hover {
    transform: scale(1.2);
}
.tutorial-button 
{
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    background-image: none;
    box-shadow: #69552b;
    border-color: #69552b;
    background-color: antiquewhite;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px,;
    border-radius:54px;
    border-radius: #8e7237;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 300ms ease;
}
.tutorial-button:hover {
    transform: scale(1.2);
}
.questions-button 
{
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    background-image: none;
    box-shadow: #69552b;
    border-color: #69552b;
    background-color: antiquewhite;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px,;
    border-radius:54px;
    border-radius: #8e7237;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 300ms ease;
}
.questions-button:hover {
    transform: scale(1.2);
}
.help-button 
{
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    background-image: none;
    box-shadow: #69552b;
    border-color: #69552b;
    background-color: antiquewhite;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px,;
    border-radius:54px;
    border-radius: #8e7237;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 300ms ease;
}
.help-button:hover {
    transform: scale(1.2);
}
.notification-section {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border: 1px solid #cfb886;
    border-radius: 30px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notify-form input[type="email"] {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    font-size: 1em;
    border: 2px solid #cfb886;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
}
.notify-form .share-button {
    background: #57422f;
    color: #ffffff;
    font-family: 'Lazy Dog', sans-serif;
    font-size: 1.2em;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.notify-form .share-button:hover {
    background: #57422f;;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.feedback-message {
    margin-top: 1em;
    font-size: 1em;
    font-family: 'Playpen Sans';
    color: #4f2f2f;
    display: none;
}

.feedback-message.success {
    color: green;
}

.feedback-message.error {
    color: red;
}
.Social {
    display: flex;
    gap: 20px;
    padding: 50px;
    width: 80%;
    margin: 0 auto;

}
.faq-container {
    max-width: 1000px;
    margin: 50px auto;
    background: #FDF3E3;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 3px dotted #cfb886;
}

.faq-header {
    text-align: center;
    margin-bottom: 20px;
}

.faq-header h1 {
    font-size: 3em;
    color: #83583c;
    padding: 10px 20px;
    display: inline-block;
}

.faq-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

.faq-table th {
    font-size: 1.8em;
    color: #4f2f2f;
    padding: 15px;
    text-align: center;
    background: #fce5cd;
    border-bottom: 2px dotted #cfb886;
}

.faq-table th:first-child {
    border-top-left-radius: 20px;
}

.faq-table th:last-child {
    border-top-right-radius: 20px;
}

.faq-table td {
    font-size: 1.5em;
    color: #4f2f2f;
    padding: 15px;
    text-align: center;
    position: relative;
    word-wrap: break-word;
    background: antiquewhite;
}

.faq-table td:first-child {
    border-right: 2px dotted #cfb886;
}

.faq-table td::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #cfb886;
    transform: translateY(50%);
}

.faq-table tr:last-child td::after {
    content: none;
}

.faq-table img {
    max-width: 100%;
    border-radius: 10px;
}

#fallbackShare {
    margin-top: 10px;
}

#copyMessage {
    transition: opacity 0.3s ease-in-out;
}

.other-questions {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    background: #fce5cd;
    padding: 10px;
    border-radius: 10px;
}
